body {
    padding-top: 5rem;
}

#title {
    cursor: pointer;
    position: fixed;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0);
    top: 1rem;
    left: 2rem;
}
#title img {
    width: 3rem;
    height: 3rem;
}
#title h1 {
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-bottom:.3rem;
    text-wrap: nowrap;
}
input:focus,
.form-control:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--bs-border-color);
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    /* needs changing */
    color: white;
    padding: 0 1rem;
    background: #0b1584;
}

#fake-input {
    width: 20rem;
    margin: 0 .5rem 0 0;
}
#fake-icon {
    margin: 0 .5rem 0 0;
}

#icon-search {
    position: absolute;
    left: 28px;
}

#input-modal {
    padding-left: 36px;
    border: 2px solid #3389e0;
}

li {
    margin-right: 2.8rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}


#search .modal-dialog {
    max-width: 100%;
    width: 90%;
    margin-top: 1vh;
}

.search-item {
    cursor: pointer;
    border-radius: 5px !important;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
#wrapper * {padding: 0.5rem 1rem 0.5rem 1rem;}

.search-item:hover {
    background-color: #f8f9fa;
}

#search .modal-footer {
    justify-content: start;
    padding: 0.5rem 2rem 1rem 1.5rem;
}

#search .modal-body {
    padding: 0 2rem 0.5rem 1.5rem;
}
#search {
    display: none;
    justify-content: center;
}

.show {
    display: flex !important;
}

.fade {
    background: rgba(0, 0, 0, .5);
}

#search .modal-header {
    border-bottom: none;
    padding-bottom: 0.5rem;
}

.disable, .modal-open {
    overflow: hidden;
    padding-right: 17px;
}
.nav-item a {
    color: white;
}
.tag0::before {
    content: "Sjednica";
}
.tag0 {
    background-color: var(--bs-danger);
}
.tag1::before {
    content: "Izlet";
}
.tag1 {
    background-color: var(--bs-warning);
}
.tag2::before {
    content: "Događaj";
}
.tag2 {
    background-color: var(--bs-primary);
}
.news-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: soft-light;
    border: none;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 6%;
    container-type: inline-size;
}
.news-card-w {
    display: grid;
    width: 100%;
    max-width: 30rem;
}
.news-card-w::before {
    content: "";
    display: block;
    padding-bottom: calc(2 / 3 * 100%);
    grid-area: 1 / 1 / 2 / 2;
}
.card-tags {
    position: absolute;
    top: 0;
    left: 0;
    padding: inherit;
    display: grid;
    gap: .5rem;
    grid-auto-flow: column;
}
.badge {
    font-size: 1rem;
}
p {
    margin-bottom: 0;
}
#fake-icon {
    display: none;
    color: white;
    font-size: 1.5rem;
    padding-top:.2rem;
    padding-left: 0.5rem;
    cursor: pointer;
}
.inner-nav {
    justify-content: end;
}
.navbar-toggler {
    display: none !important;
}
.offcanvas-body {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.offcanvas-body * {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.offcanvas-header {
    padding: 1.5rem;
}
.offcanvas-title {
    font-size: 2rem;
}
.con {
    padding: 1.5rem 4rem;
}
.con h2 {
    width: 100%;
}
.nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@container (min-width: 0px) {
    .fw-bold {
        font-size: 8cqw;
    }
    .news-date {
        font-size: 4.5cqw;
    }
    .badge {
        font-size: clamp(.6rem, 4cqw, 1000px);
    }
}
#cover {
    width: 100%;
	height: 5rem;
    text-align: center;
    position: fixed;
    top: 0;
    background: url('/images/test.jpg');
    background-size: cover;
    background-position: 50% 100%;
	background-blend-mode: soft-light;
    background-color: #0b1584;
}
#navbar {
    background-color: transparent;
}
.modal-content {
    position: relative;
}

@media (max-width: 1200px) {
    .con {
        padding: 1.5rem 2rem;
    }
}
@media (max-width: 1100px) {
    li {
        margin-right: 1.5rem;
    }
}
@media (max-width: 1024px) {
    #fake-input {
        width: 13.5rem;
    }
    #navbar {
        padding: 0 1rem;
    }
    #title {
        left: 1rem;
    }
    .con {
        padding: 1rem 1rem 2rem 1rem;
    }
}
@media (max-width: 900px) {
    li {
        margin-right: 1.2rem;
    }
    #fake-input {
        display: none;
    }
    #fake-icon {
        display: initial;
    }
}
@media (max-width: 790px) {
    .con {
        padding: 1.5rem 2rem;
    }
    .con h2 {
        text-align: center;
    }
    .news-card-w {
        max-width:25rem;
    }
    .navbar-nav {
        display: none;
    }
    .inner-nav {
        justify-content: space-between;
    }
    .navbar-toggler {
        display: initial !important;
        color: white;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
    }
    #title h1 {
        font-size: 1.8rem;
        margin-bottom: 0;
    }
    #title {
        left: 50vw;
        transform: translate(-50%, 0);
    }
}
@media (max-width: 580px) {
    .news-card-w {
        max-width: 22rem;
    }
}
@media (max-width: 370px) {
    #title h1 {
        font-size: 1.5rem !important;
    }
    #title img {
        width: 2.5rem;
        height: 2.5rem;
    }
}